.editBtn {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  color: rgba(0, 0, 255, 0.94);
  border: 1px solid rgba(0, 0, 255, 0.42);
  border-radius: 4px;
  padding: 5px 15px;
  line-height: 1.75;
}

.editBtn:hover {
  background-color: rgba(0, 0, 255, 0.05);
  border: 1px solid rgb(0, 0, 255);
}
